<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.securekeystore.plugins" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SecureKeyStore</name>
    <js-module name="SecureKeyStore" src="www/SecureKeyStore.js">
        <clobbers target="cordova.plugins.SecureKeyStore" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SecureKeyStore">
                <param name="android-package" value="com.securekeystore.plugins.SecureKeyStore" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/SecureKeyStore.java" target-dir="src/com/securekeystore/plugins/SecureKeyStore" />
    </platform>
</plugin>