<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-secure-key-store"
    version="1.5.4"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>SecureKeyStore</name>
    <author>pradeep singh</author>

    <description>
        Cordova plugin for securely saving keys, passwords or strings on devices.
    </description>

    <license>ISC</license>

    <keywords>ecosystem:cordova, ecosystem:phonegap, mobile, android, ios, android-keystore, ios-keychain, sensitive-data-security, public-private-key, encryption-decryption</keywords>

    <js-module name="SecureKeyStore" src="www/SecureKeyStore.js">
        <clobbers target="cordova.plugins.SecureKeyStore" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SecureKeyStore">
                <param name="android-package" value="com.securekeystore.plugin.SecureKeyStore" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/SecureKeyStore.java" target-dir="src/com/securekeystore/plugin/SecureKeyStore" />
        <source-file src="src/android/Constants.java" target-dir="src/com/securekeystore/plugin/Constants" />
        <source-file src="src/android/KeyStorage.java" target-dir="src/com/securekeystore/plugin/KeyStorage" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SecureKeyStore">
                <param name="ios-package" value="SecureKeyStore" />
            </feature>
        </config-file>
        <header-file src="src/ios/SecureKeyStore.h" />
        <source-file src="src/ios/SecureKeyStore.m"/>
        <source-file src="src/ios/KeychainItemWrapper.h"/>
        <source-file src="src/ios/KeychainItemWrapper.m"/>        
        <framework src="Security.framework" />        
    </platform>

</plugin>
